/.DS_Store
/.env
/.github
/.venv
/.devcontainer/data
/.pdf_images
/model
/storage
/data
/docker-composenebula-graph.yaml
/docs
/nebulagraph_cell_19.html
.pdf_images
*.lock
.cache/*
*.pyc
.storage/*
*.parquet