llama-index
python-dotenv
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-graph-stores-nebula
llama-index-readers-file
jupyter-nebulagraph
pymupdf4llm
llama-index-embeddings-ollama
torch
torchvision
torchaudio
open-clip-torch
sentence-transformers
pydantic
langfuse
pytesseract
sentencepiece
Pillow
spacy
duckdb
ragas
llama-index-core>=0.10.43
openinference-instrumentation-llama-index>=2
opentelemetry-proto>=1.12.0
arize-phoenix-otel