llama-index
python-dotenv
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-graph-stores-nebula
llama-index-readers-file
jupyter-nebulagraph
pymupdf4llm
llama-index-embeddings-ollama
torch
torchvision
torchaudio
llama-index-vector-stores-qdrant
llama-index-vector-stores-chroma
open-clip-torch
sentence-transformers
pydantic
langfuse
arize-phoenix-otel
pytesseract
sentencepiece
Pillow
llama-index-agent-introspective
spacy
llama-index-postprocessor-colbert-rerank
llama-index-llms-azure-openai
llama-index-readers-confluence